@import url("main.css");

code{
  text-align: center;
  display: block;
  padding-left: auto;
  padding-right: auto;
}

.codeP{
  background-color: #555;
  display: inline-block;
  color: cyan;
  padding: 5px;
  border-radius: 3px;
}

  /* Style buttons */
  .btn {
    background-color: #3776ab;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    }

    /* Darker background on mouse-over */
    .btn:hover {
    background-color: #ffd343;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    }


    .imagebox {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      /* padding: 5px; */
      border: 3px solid #333;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }
    
    .imagebox:hover {
      transform: scale(1.3);
      border: 7px solid olivedrab;
      transition: 0.2s ease-in-out;
    }
    
    .imageAnnotation {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    
    .imagebox2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      /* padding: 5px; */
      border: 3px solid #333;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }
    
    .imagebox2:hover {
      transform: scale(1.3);
      border: 7px solid olivedrab;
      transition: 0.2s ease-in-out;
    }
    
    .imageAnnotation2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    
    .imagebox3 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      /* padding: 5px; */
      border: 3px solid #333;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }
    
    .imagebox3:hover {
      transform: scale(1.3);
      border: 7px solid olivedrab;
      transition: 0.2s ease-in-out;
    }
    
    .imageAnnotation3 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }